{% extends 'base.html' %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
<h1>Добро пожаловать, {{ user.name }}</h1>
<form method="POST">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" value="{{ user.name }}">
    <p class="hint">Оставьте прежнее имя, если не хотите его менять .</p>

    <label for="email">Почта:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}">
    <p class="hint">Оставьте прежнюю почту, если не хотите её менять.</p>

    <label for="password">Новый пароль (если нужно):</label>
    <input type="password" id="password" name="password" placeholder="Введите новый пароль">
    <p class="hint">Оставьте поле пустым, если не хотите менять пароль.</p>

    <button type="submit">Сохранить</button>
</form>
{% endblock %}
